<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		//- 使用ie标准模式渲染
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		//- 适配不同浏览器尺寸 
		meta(name="viewport", content="width=device-width, inital-scale=1")
		title bootstrap学习笔记
		link(rel="stylesheet", href="bootstrap.css")
		style.
			body{padding: 20px;}
	body
		h1.text-primary bootstrap 学习笔记
		include ch3
		hr
		include ch2

		hr
		//-脚本 
		script(src="bootstrap.js")
