extends layout

block content
	p.lead
		|根据
		strong
			a.text-muted(href="http://www.imooc.com/learn/141", target="_blank") 幕课网玩转Bootstrap（基础）
		|和
		strong 
			a.text-muted(href="http://www.imooc.com/learn/262", target="_blank") 幕课网玩转Bootstrap（js插件篇）
		|整理。

	div.list-group
			each chapter in chapters.slice(1) 
					a(href=chapter.url).list-group-item #{chapter.name}：#{chapter.desc}

