extends layout

block content
	p.text-muted 
		|根据
		strong 
			a(href="http://www.imooc.com/learn/141", target="_blank") 幕课网玩转Bootstrap（基础）
		|整理。

	ul.list-unstyled
			each chapter in chapters
				li 
					a(href=chapter.url) #{chapter.name}：#{chapter.desc}

