include data
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		//- 使用ie标准模式渲染
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		//- 适配不同浏览器尺寸 
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		//- Favicons
		link(rel="shortcut icon", href="images/favicon.png")
		block title
			title bootstrap 学习笔记
		link(rel="stylesheet", href="styles/bootstrap.css")
		block sctipt
			//- script
		style.
			body{margin: 20px 0}
		script(src="scripts/bootstrap.js")
	body.col-xs-10.col-sm-10.col-md-10.col-lg-10.col-xs-offset-1.col-sm-offset-1.col-md-offset-1.col-lg-offset-1
		.page-header
			h1.text-primary Bootstrap 学习笔记
					
		.navbar.navbar-inverse
			.navbar-header
				button(type="button", data-toggle="collapse", data-target=".navbar-responsive-collapse").btn.btn-default.navbar-toggle 
					span.sr-only Toggle Navigation
					each i in [1,2,3]
						span.icon-bar
				//- span.navbar-brand
					img(src="images/favicon.png", alt="Bootstrap").img-responsive 
			.collapse.navbar-collapse.navbar-responsive-collapse
				ul.nav.navbar-nav.nav-pills
					each chapter in chapters
						li 
							a(href=chapter.url) #{chapter.name}


		block content
		hr
		//-脚本 
		//- script(src="scripts/bootstrap.js")