include bootstrap-engin
#modal-fade10.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				+X("modal")
				h4.modal-title 模拟弹窗标题10
			.modal-body
				p 模拟弹窗主体内容
			.modal-footer
				button(type="button", data-dismiss="modal").btn.btn-default 关闭
				button(type="button").btn.btn-primary 保存